.david p{
	font-size: 20pt;
	color: black;
}
.david img{
	background-color:  blue;
	height: 600px;
	width:800px;
	padding: 5px;
	margin:  5px;
	}

#Intrucciones{		
			font-size: 50pt;
			color: black;
	}
#opciones{		
			font-size: 40pt;
			background-color: red;
			color: black;
	}