.david p{
	font-size: 20pt;
	color: white;
}
.david h1{
	color: lime;
	font-size: 40pt;

}
#Instrucciones{		
			font-size: 20pt;
			color: black;
	}
#opciones{		
			font-size: 30pt;
	
			color: white;
	}
body{
	background-color: navy;
} 
